# My first python code: Hello world

In [1]:
# comment line, this line will not be executed by python interpreter


print("hello world")

hello world

In [2]:
print("hello")

print("hello again")

hello
hello again

## print() function in python

'\n' -> this is new line character
'\t' -> tab

In [7]:
print("my name is Sourav",end='----')
print("my name is Sachin")

my name is Sourav----my name is Sachin

## Variables

A variable is a memory location in computer, where you can store some value

In [8]:
a = 5

In [9]:
print(a)

5

In [10]:
type(a)   # variable type

int

In [11]:
b = 92.45

type(b)

float

In [12]:
c = "I am learning python"

type(c)

str

In [14]:
d = False

type(d)

bool

### Data types

There are primarily 4 types of data in python
- Integer
- Float
- String
- Boolean

A variable name:
- can't contain space
- can't contain any special character other than underscore '_'
- it can start or end with underscore
- it can contain alphanueric characters
- but it can't start with a number
- can't be a reserved keywords

In [15]:
_x = 6

print(_x)

6

In [16]:
my_name = "Sourav"

print("My name is ", my_name)

My name is  Sourav

### More about print() function

In [18]:
profession = "data scientist"

In [19]:
print("My name is", my_name, " and I am a ", profession)

My name is Sourav  and I am a  data scientist

In [20]:
# Formatted print statement

age = 32

print("my name is {}, my profession is {} and my age is {}".format(my_name, profession, age))

my name is Sourav, my profession is data scientist and my age is 32

In [21]:
print("my name is {}, my profession is {} and my age is {}".format(profession, my_name, age))

my name is data scientist, my profession is Sourav and my age is 32

In [25]:
print(f"my name is '{my_name}', my profession is {profession} and my age is {age}")

my name is 'Sourav', my profession is data scientist and my age is 32

In [27]:
place = 'b'

type(place)

str

## Arithmatic operations

In [28]:
a = 3
b = 5.6
c = 40

### Addition and Subtraction

In [29]:
d = a+b
print(d)

8.6

In [30]:
e = c-b
print(e)

34.4

In [31]:
1.5 + 2.5

4.0

In [32]:
f = 3.0

type(f)

float

### Multiplication and division

In [33]:
a * b

16.799999999999997

In [34]:
3.0 * 5.6

16.799999999999997

In [35]:
round(3.0 * 5.6, 6)

16.8

In [39]:
# Normal division

a = 11
b = 2.7

a/b

4.0740740740740735

In [42]:
# Integer division -> result will be integer (quotient)

a = 13
b = 2

a//b

6

In [45]:
c = 67
d = 13.0

c // d

5.0

In [46]:
67/13

5.153846153846154

In [47]:
95.34 // 3.57

26.0

In [50]:
round(95.34/3.57)

27

### Modulo division (remainder)

In [51]:
x = 45
y = 7

x % y

3

In [53]:
x = 34.32
y = 5

x % y

4.32

In [56]:
a = 5
b = 2.5

print(a//b + a/b + round(a//b + a/b))

8.0

### Exponentiation

In [57]:
3**2

9

In [58]:
4**5    # 4^5

1024

In [59]:
16**0.5  # sqrt

4.0

In [60]:
81**(3/4)

27.0

### Input function

In [62]:
my_name = input("Enter your name: ")

In [63]:
print(my_name)

Sourav

In [67]:
yoe = input("Enter your years of experience: ")

In [66]:
type(yoe)

str

### Type conversion

In [70]:
x = 45.946

y = 85

z = "I am a DS"

In [71]:
int(x)   # float will be converted to int, truncating the decimal places

45

In [72]:
float(y)

85.0

In [73]:
float(z)

ValueError: could not convert string to float: 'I am a DS'

In [76]:
v = "32.875"

float(v)

32.875

In [77]:
int(v)

ValueError: invalid literal for int() with base 10: '32.875'

In [80]:
int("32.0")

ValueError: invalid literal for int() with base 10: '32.0'

In [79]:
float("32")

32.0

In [81]:
str(y)

'85'

In [82]:
str(x)

'45.946'

In [87]:
age = float(input("Enter your age: "))

print(age, type(age))

56.7 <class 'float'>

In [88]:
age = int(float(input("Enter your age: ")))

print(age, type(age))

67 <class 'int'>

## Printing the area of a triangle given the sides

The sides of the triangle are a, b, c

$$ semi perimeter : s = 0.5*(a+b+c)$$

$$ area = \sqrt{s(s-a)(s-b)(s-c)}$$

In [90]:
a = float(input("enter side-1: "))
b = float(input("enter side-2: "))
c = float(input("enter side-3: "))

print("the sides are: ", a, b, c)

the sides are:  10.0 8.0 6.0

In [91]:
s = 0.5*(a+b+c)

area = (s*(s-a)*(s-b)*(s-c))**0.5

print("The area is ", area)

The area is  24.0

### String concatenation (addition)

In [92]:
x = "I am an Indian "
y = "I love my country"

x+y

'I am an Indian I love my country'

In [93]:
x + "." + y

'I am an Indian .I love my country'

### String multiplication

muliply string with an integer to have repeated string

In [94]:
5*x

'I am an Indian I am an Indian I am an Indian I am an Indian I am an Indian '

In [96]:
print("xyz" , "abc")

xyz abc

### Boolean operation

In [97]:
a = True
b = False

In [99]:
# and operation

# True , True -> True
# True, False -> False
# False , True -> False
# False, False -> False

a and b

False

In [100]:
# or operation

# True or True -> True
# True or False -> True
# False or True -> True
# False or False -> False

a or b

True

In [103]:
# not operation

# not(True) -> False
# not(False) -> True

not b

True

In [105]:
(not a) or (not b)

True

### Conditional operation

Always return boolean value.

If the condition is true it will return `True`, if the condition is false it will rreturn `False`

### Equality (==)

In [110]:
x = 67

x == 68

False

In [125]:
x = '67'

x == 67

False

In [119]:
round(5.6*3.0,6) == 16.8

True

In [127]:
x = 3*5
y = 15.0

x == y

True

In equality (!=)

In [121]:
x != 10

True

In [128]:
x != 15

False


### > (greater than)
### >= (greater than equal to)
### < (less than)
### <= (less than equal to)

In [132]:
b = 5

b >= 5

True

In [133]:
b > 5

False

In [134]:
c = 7

c <= 7

True

In [135]:
c < 7

False

In [136]:
v = 56

w = 89.23

type(v), type(w)

(int, float)

In [137]:
type(v) == int

True

In [138]:
type(w) != float

False

## Flow control

if - else statement

```python
if (condition):
    run this code block when the condition is met
else:
    run this code block

```

python uses indentation to define code block.

In [139]:
my_name = "Akash"

In [140]:
if my_name == "Sourav":
    print("I am the instructor")
else:
    print("I am not an instructor")

I am not an instructor

In [147]:
y = 35

if (y%7 == 0 and y%5 == 0):
    print("The number is divisible by 7")
    print("This is a magic number")
else:
    print("This is not a magic number")

The number is divisible by 7
This is a magic number

### Muliple if-else (if - elif - else)

```python

if (condition-1):
    run this code block
elif (condition-2):
    run this code block
elif(condition-3):
    run this code block
else:
    run this code block

```

### Nested if-else

```python
if (condition-1):
    if (condition-2):
        run this code block
    else:
        run this code block
else:
    run this code block
```

In [ ]:
x = 5

if x > 20:
    print("gt 20")
elif x > 10:
    print("gt 10")

Write a program (WAP) to take input of a person's age and classify the person based on age as following:

- If 0 <= age < 18 , -> Not Adult

- If 18 <= age < 30, -> Young Adult

- If 30 <= age < 45, -> Middle aged

- If 45 <= age < 60, -> Upper middle aged

- If age >= 60, -> Senior Citizen

In [149]:
age = float(input("Enter the age: "))

if age >= 60:
    print("Senior citizen")
elif age >= 45:
    print("Upper middle aged")
elif age >= 30:
    print("Middle aged")
elif age >= 18:
    print("Young adult")
else:
    print("Not adult")

Middle aged

### While loop

```python
while (condition):
    keep on running the code block as long as the codition is met
```

In [155]:
counter = 0

while(counter<10):
    print(counter)
    counter = counter + 1  # counter += 1

0
1
2
3
4
5
6
7
8
9

### Write a program to take a positive integer from the user and print the number of digits

In [160]:
n = int(input("Enter the number: "))

if n < 0:
    print("Please enter positive number")
else:
    num_of_digits = 0

    while n > 0:
        n = n // 10
        num_of_digits += 1

    print(f"There are {num_of_digits} digits")

Please enter positive number

### Given a positive integer produce a number which is reverse of it

In [161]:
n = int(input("Enter the number: "))

if n < 0:
    print("Please enter positive number")
else:
    m = 0

    while n > 0:
        m = 10 * m + n % 10
        n = n // 10

    print(f"The reversed number is {m}")

The reversed number is 2643

### String opertaion

In [ ]:
s = "here is my work. please find the link"

len(s)   # length

37

In [ ]:
s = "  there is a tree    "  # thereisatree

s.strip()

'there is a tree'

In [164]:
s.rstrip()

'  there is a tree'

In [165]:
s.lstrip()

'there is a tree    '

In [175]:
fruits  = "banana, apple, orange, mango"

fruits.split(',')

['banana', ' apple', ' orange', ' mango']

In [171]:
fruits.replace(",", "--")

'banana-- apple-- orange-- mango'

In [176]:
new_fruits = fruits.replace("banana", "papaya")

print(fruits, new_fruits)

banana, apple, orange, mango papaya, apple, orange, mango

In [173]:
fruits

'banana, apple, orange, mango'

In [169]:
len(s.replace(" ", ""))

12