### Functions

Python has some in-built functions. 
`sorted()` is one of the widely used python function. 
`sum()` is another python function.

One can also define a function and use that in a code. Those are called user defined function.

```python

def function_name(arg1, arg2, ...):
    do some work within the function
    return something  # optional (you may not return anything)

```

To call the function

```python
function_name(a1, a2)
```

### sorted() function in python

The `sorted()` function returns a sorted list ofthe specified iterable object.

`sorted(iterable, key, reverse)`

- `iterable` is a required argument. This is the iterable object to sort (list, dict, tuple etc.)
- `key` is an optional argument. Default is None. The key is basically a function to execute to decide the order.
- `reverse` is an optional boolean argument. If False then will sort by ascending order, if True will sort by descending order. Default is False.

In [9]:
a = ['apple', 'guava', 'orange', 'banana', 'pineapple', 'grapes']

In [3]:
sorted(a)  # alphabatically ordered list

['apple', 'banana', 'grapes', 'guava', 'orange', 'pineapple']

In [5]:
b = sorted(a)

In [6]:
b

['apple', 'banana', 'grapes', 'guava', 'orange', 'pineapple']

In [7]:
a.sort()

print(a)

['apple', 'banana', 'grapes', 'guava', 'orange', 'pineapple']

In [10]:
a

['apple', 'guava', 'orange', 'banana', 'pineapple', 'grapes']

In [12]:
sorted(a, reverse=True)  # reverse alphabatical ordering

['pineapple', 'orange', 'guava', 'grapes', 'banana', 'apple']

In [13]:
sorted(a, key=len) # sort the list based on the length of the elements

['apple', 'guava', 'orange', 'banana', 'grapes', 'pineapple']

In [14]:
sorted(sorted(a), key=len)

['apple', 'guava', 'banana', 'grapes', 'orange', 'pineapple']

In [15]:
my_list = [[1,2,3] , [4,5,6], [3,2,-1], [-4,5,6]]

In [17]:
sorted(my_list,key=sum)

[[3, 2, -1], [1, 2, 3], [-4, 5, 6], [4, 5, 6]]

In [18]:
sorted(my_list)

[[-4, 5, 6], [1, 2, 3], [3, 2, -1], [4, 5, 6]]

### User defined functions

In [19]:
def add_numbers(a, b):
    c = a+b
    return c

In [36]:
def add_numbers(a, b):
    return a+b

In [20]:
add_numbers(3,6)

9

In [21]:
my_list = [[1,2,3] , [4,-5,6], [3,4,-1], [-4,5,6]]

# sort this list based on the 2nd element of the constituent lists. 

def ret_second_element(l):
    return l[1]

In [22]:
sorted(my_list, key=ret_second_element)

[[4, -5, 6], [1, 2, 3], [3, 4, -1], [-4, 5, 6]]

In [26]:
fruit_items = {'apple': 120, 'banana': 40, 'pineapple': 80, 'mango': 150}

In [28]:
sorted(fruit_items)  # return a list with sorted keys of the dictionary

['apple', 'banana', 'mango', 'pineapple']

In [30]:
sorted(fruit_items.items())  # sorted the key-value pairs on keys

[('apple', 120), ('banana', 40), ('mango', 150), ('pineapple', 80)]

In [31]:
def return_item(x):
    return x[1]

In [34]:
sorted_dict = dict(sorted(fruit_items.items(), key=return_item))

In [35]:
sorted_dict

{'banana': 40, 'pineapple': 80, 'apple': 120, 'mango': 150}

### Lambda function

Simple one line anonymous function used for quickly defining and using a fucntion. anonymous means it does not require any name.

```python
lambda variable : operation on the varaible

lambda v1, v2, v3, .... : do some operation
```

In [38]:
f = lambda x: x**2   # squaring function

In [39]:
f

In [40]:
f(5)

25

In [41]:
add_number = lambda x,y: x+y

In [42]:
add_number

In [43]:
add_number(15,9)

24

In [45]:
my_list = [[1,2,3] , [4,-5,6], [3,4,-1], [-4,5,6]]

sorted(my_list, key=lambda l: l[-1])

[[3, 4, -1], [1, 2, 3], [4, -5, 6], [-4, 5, 6]]

In [50]:
values = (-1, 4, 2, 1, 8, 9, 12, -2, -5)

In [53]:
sorted(values, key=lambda x: x**2)

[-1, 1, 2, -2, 4, -5, 8, 9, 12]

### Expression and conditionals used in list comprehension

In [54]:
values = [3, -2, 5, 12, 9, 25, 32, -4]

In [55]:
# create a new list from the values where the (element + 4)**2-10 > 0

In [59]:
new_list = [x for x in values if (x+4)**2-10 > 0]

In [58]:
new_list

[3, 5, 12, 9, 25, 32]

In [60]:
def fun(x):
    return (x+4)**2-10

In [61]:
[x for x in values if fun(x) > 0]

[3, 5, 12, 9, 25, 32]

In [66]:
other_list = [(x+4)**2-10 for x in values]

In [67]:
other_list

[39, -6, 71, 246, 159, 831, 1286, -10]

In [68]:
my_values = [1, 4, 6, 3, 2, 9, 11, 10]

# create a new list with only odd numbers from my_values list.

In [69]:
new_list = []

for x in my_values:
    if x % 2 == 1:
        new_list.append(x)

In [70]:
new_list

[1, 3, 9, 11]

In [71]:
new_list2 = [x for x in my_values if x % 2 == 1]

In [72]:
new_list2

[1, 3, 9, 11]

In [73]:
"one line string"

'one line string'

In [74]:
"""
this is a 
multiline
string
"""

'\nthis is a \nmultiline\nstring\n'

### Function docstring

In [75]:
def add_numbers(num1, num2):
    """
    Description: This function will add two input numbers and return the result

    Inputs:
        - num1: number 1 (float or int)
        - num2: number 2 (float or int)

    return:
        - It returns a number (float or int)
    """
    return num1 + num2

In [77]:
add_numbers(2,3.3)

5.3

In [78]:
add_numbers(3, 'c')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [79]:
add_numbers(2,3.3, 4)

TypeError: add_numbers() takes 2 positional arguments but 3 were given

### assert statement

In [82]:
x = 5

assert x == 6, "the number should be 5"

AssertionError: the number should be 5

In [83]:
def add_numbers(num1, num2):
    """
    Description: This function will add two input numbers and return the result

    Inputs:
        - num1: number 1 (float or int)
        - num2: number 2 (float or int)

    return:
        - It returns a number (float or int)
    """
    assert type(num1) == int or type(num1) == float, "The num1 should be int or float type"
    assert type(num2) == int or type(num2) == float, "The num2 should be int or float type"
    return num1 + num2

In [84]:
add_numbers(4, 5.5)

9.5

In [85]:
add_numbers(4, 'c')

AssertionError: The num2 should be int or float type

$$ factorial(n) = n \times (n-1) \times (n-2) \times .... \times 3 \times 2 \times 1 $$

In [102]:
def factorial(n):
    """
    Description: This function will compute the factorial of a postive integer

    Input:
        - n: (int) The positive integer number whose factorial we want to compute

    Return:
        - (int) It returns a number which is factorial of the input number n
    """
    # if type(n) != int:
    #     print("Please provide integer type value")
    #     return None
        
    # if n <= 0:
    #     print("Please provide positve integer as input")
    #     return None

    assert type(n) == int, "The value must be integer type"

    assert n > 0, "The value must be a positive integer"

    result = 1
    for i in range(2, n+1):
        result = result * i

    return result

In [103]:
factorial(6)

720

In [104]:
factorial('abc')

AssertionError: The value must be integer type

In [105]:
factorial(-5)

AssertionError: The value must be a positive integer

**Binomial coefficient**

$$ {N\choose k} = \frac{N!}{(k!) (N-k)!}$$

In [106]:
def binom_coeff(n,k):
    """
    Description:

    Inputs:

    Output:
    
    """

    # sanity check

    result = factorial(n)/(factorial(k) * factorial(n-k))

    return result

In [107]:
binom_coeff(5,2)

10.0

In [108]:
def rec_fact(n):

    if n == 1:
        return 1
    else:
        return n*rec_fact(n-1)

In [109]:
rec_fact(6)

720

In [110]:
def find_value(l, v):
    """
    Description: check whether the value 'v' exists in the list 'l'. 

    Inputs:
        - l: (list)
        - v: (any data type)
    Output:
        - Returns nothing, prints "found" if the the values 'v' exist in list 'l', else prints "not found"
    """

    if len(l) == 0:
        print("not found")

    elif v == l[0]:
        print("found")

    else:
        find_value(l[1:],v)

In [113]:
find_value([1,2,3,4,5], -1)

not found

### Python try , except (Exception Handling)

```python
try:
    try block lets you test a block of code for errors
except <errortype>:
    this block lets you to handle the error
else:
    this block will be executed when there is no error
finally:
    this block lets you execute code, regardless of the try and except blocks
```

In [114]:
print(abc)

NameError: name 'abc' is not defined

In [116]:
try:
    print(abc)
except NameError:
    print("The variable is not defined")

The variable is not defined

In [117]:
try:
    print(abc)
except NameError:
    print("The variable is not defined")
except:
    print("Some other error occurred")

The variable is not defined

In [118]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)

In [122]:
try:
    v = fact(7.5)
except:
    print("Some error has occurred")

Some error has occurred

In [123]:
fact(7.5)

RecursionError: maximum recursion depth exceeded

In [124]:
try:
    v = fact(7.5)
except Exception as e:
    print(e)

maximum recursion depth exceeded

In [126]:
try:
    v = fact(7)
except Exception as e:
    print(e)
else:
    print(v)
finally:
    print("The code has ended")

5040
The code has ended

### map() in python

```python
def my_func(value):
    <some codes>
    return output

my_list = [v1, v2, v3, ...., vn]

x = map(my_func, my_list)   # x is a python map object

x = list(map(my_func, my_list))  # produces a list with the function applied on each value of my list
```

In [127]:
factorial(5)

120

In [128]:
l = [4, 2, 8, 10]

In [130]:
list(map(factorial, l))

[24, 2, 40320, 3628800]

In [131]:
[factorial(x) for x in l]

[24, 2, 40320, 3628800]

In [132]:
map(factorial, l)

### String methods

In [133]:
name = "Sourav Karmakar"

In [134]:
name[3]

'r'

In [135]:
name[3:10]

'rav Kar'

In [137]:
name[::-1]  # reverse the string

'rakamraK varuoS'

In [138]:
name.capitalize()

'Sourav karmakar'

In [139]:
name.title()

'Sourav Karmakar'

In [152]:
name.upper()

'SOURAV KARMAKAR'

In [153]:
name.lower()

'sourav karmakar'

In [140]:
"i am an indian and i live in india".capitalize()

'I am an indian and i live in india'

In [141]:
"i am an indian and i live in india".title()

'I Am An Indian And I Live In India'

In [145]:
name.find('Kar')

7

In [146]:
name.count('r')

3

In [147]:
fruits = ['apple', 'guava', 'orange']

In [150]:
' '.join(fruits)

'apple guava orange'

In [151]:
'apple guava orange'.split()

['apple', 'guava', 'orange']

In [154]:
"   dasdnadnf dasd dadsfd   ".strip()

'dasdnadnf dasd dadsfd'

In [155]:
"   dasdnadnf dasd dadsfd   ".rstrip()

'   dasdnadnf dasd dadsfd'

In [156]:
"   dasdnadnf dasd dadsfd   ".lstrip()

'dasdnadnf dasd dadsfd   '

In [159]:
name.index('o')

1

In [162]:
'apple;guava;orange'.split(';')

['apple', 'guava', 'orange']

## File handling in python

We can do following operations on a file:

1. We can read the content of an existing file
2. We can open an exsting file and write something on it (overwrite, append)

### open() function

```python
open(file_path, mode)
```

`mode` can have following values:

- r : reading mode (read any existing file)
- w : write mode (write on existing file, if there is any data in the existing file it will be overwritten)
- r+ : read-write mode (read the existing file or overwrite the content of an existing file)
- w+ : write-read mode
- a: append mode (it will append at the end of the file instead of overwriting it)
- a+: append-read mode (read the existing file or append to the content of an existing file)

### Reading the content of a file

In [163]:
file = open("./sample.txt","r")

print(file)

<_io.TextIOWrapper name='./sample.txt' mode='r' encoding='cp1252'>

In [164]:
for x in file:
    print(x)

I am Sourav Karmakar.

I am a Data Scientist.

I am learning python.

In [169]:
file.close()

### Write to a file

In [170]:
file = open("./sample.txt","w")

file.write("hello, students, how are you doing?")

file.close()

### Append to a file

In [171]:
file = open("./sample.txt","a")

file.write("Please learn data science")

file.close()

In [172]:
file = open("./sample.txt","a")

file.write("\nPlease also learn AI.")

file.close()

Write a code to read the numbers from numbers.txt file and print the sum and average of the numbers

In [175]:
try:
    number_file = open("./numbers.txt", 'r')
except Exception as e:
    print(e)
else:
    sum_of_numbers = 0
    count_of_numbers = 0
    for x in number_file:
        sum_of_numbers += float(x)
        count_of_numbers += 1
    print(f"Sum of the numbers: {sum_of_numbers} and average: {sum_of_numbers/count_of_numbers}")
finally:
    number_file.close()

Sum of the numbers: 53.0 and average: 5.3