### Lambda function

Lambda function is an anonymous function.
```python
lambda <variables>: operations on variables
```

It returns a function.

In [2]:
f = lambda x: x**2

In [3]:
f

In [5]:
f(14)

196

In [8]:
g = lambda x,y: x**2+y**2

g(1,2)

5

In [9]:
g(2,3)

13

In [10]:
g

In [12]:
list(map(f, [1,2,3]))

[1, 4, 9]

### Functions arguments

Two types of argument that a python function takes.

1. positional argument
2. keyward argument

#### Positional arguments

Positional arguments are passed to a function based on their position or order.

In [13]:
def greet(name, greeting):
    print(f"{greeting}, {name}")

In [14]:
greet('bob', 'Welcome')

Welcome, bob

In [15]:
greet('Hi', 'Sourav')

Sourav, Hi

### Keyward arguments

In [24]:
greet(greeting='Hi',name='Sourav')

Hi Sourav

#### default values

In [20]:
def greet(name, greeting="Hello"):
    """
    This function greets the people by their name.

    Args:
     - name: (str) [required] The name of the person
     - greeting: (str) [optional] The greeting string, default value of "Hello"
    """

    print(f"{greeting} {name}")

In [21]:
greet("Alice")

Hello Alice

In [22]:
greet("Alice", "Hi")

Hi Alice

In [26]:
greet(name="Alice", "Hi")  # Positional argument is followed by keyword argument -> return an error

SyntaxError: positional argument follows keyword argument (2885103309.py, line 1)

In [27]:
greet("Alice", greeting="Welcome")

Welcome Alice

In [30]:
greet("Welcome", name="Alice")

TypeError: greet() got multiple values for argument 'name'

#### *args

In [34]:
x =25
y= 34
z = 17

print("There are many variables ", "like: x = ", str(x), "y = ", str(y), "z = ", str(z))

There are many variables  like: x =  25 y =  34 z =  17

In [35]:
# *args can take any number of positional arguments into tuple

def func(*args):
    for arg in args:
        print(arg)

In [37]:
func(1, 5, "Sachin", "Sourav", "Shehwag")

1
5
Sachin
Sourav
Shehwag

In [38]:
func()

In [44]:
my_arguments = ('a', 12, '25.35', 34.6, 'I love my country', True)

func(*my_arguments)

a
12
25.35
34.6
I love my country
True

#### **kwargs

In [39]:
# **kwargs can take any number of key word arguments into dictionary

def another_func(**kwargs):
    for k,v in kwargs.items():
        print(f"{k}: {v}")

In [41]:
another_func(a=7, b=24, c=56, d=12)

a: 7
b: 24
c: 56
d: 12

In [42]:
d = {'name': "Sourav",
     'position': "DS",
     'nationality': 'Indian',
     'age': 32}

In [43]:
another_func(**d)

name: Sourav
position: DS
nationality: Indian
age: 32

In [45]:
d1 = {'name': "Sourav",
     'position': "DS"
     }
d2 = {'nationality': 'Indian',
     'age': 32
     } 

{**d1, **d2}

{'name': 'Sourav', 'position': 'DS', 'nationality': 'Indian', 'age': 32}

In [48]:
another_func(**d1, **d2)

name: Sourav
position: DS
nationality: Indian
age: 32

### Function within a function

In [64]:
def operations(number1, number2):

    def add_one(number):
        return number+1

    def square(number):
        return number**2

    result = add_one(number1) + square(number2)
    return result

In [66]:
operations(4,5)

30

In [67]:
def operations():

    def add_one(number):
        return number+1

    return add_one

In [69]:
v = operations()

In [71]:
v(3)

4

In [72]:
def greeting(greeting):
    "Enclosing function"
    def print_message():
        "nested function"
        print(f"{greeting}")

    print_message()

In [73]:
greeting("Welcome")

Welcome

### Function as an argument to a function

In [81]:
def say_hi():
    return "Hi, how are you?"

In [133]:
def operations(function):
    def wrapper():
        return_value = function()
        # print(return_value, type(return_value))
        make_uppercase = [r.upper() for r in return_value]
        make_uppercase = ''.join(x for x in make_uppercase)
        return make_uppercase

    return wrapper

In [95]:
f = operations(say_hi)

In [96]:
f

In [97]:
f()

Hi, how are you? <class 'str'>

'HI, HOW ARE YOU?'

In [98]:
def say_bye():
    return "bye bye, see you soon"

In [99]:
g = operations(say_bye)

In [100]:
g()

bye bye, see you soon <class 'str'>

'BYE BYE, SEE YOU SOON'

### Decorators

In [136]:
@operations  #decorator

def say_name():
    return(f"Hello please say your name")

In [137]:
say_name()

'HELLO PLEASE SAY YOUR NAME'

#### Decorators with argument

In [138]:
def square_decorator(function):
    def wrapper(arg1, arg2, arg3):
        value = function(arg1, arg2, arg3)
        return value**2

    return wrapper

In [142]:
@square_decorator

def hello(a,b,c):
    return a+b+c

In [143]:
hello(1,2,3)

36

## Object oriented programming in python

Python is a obejct oriented programming language. Everything in python is an object.

In [144]:
num = 10

print(type(num))

<class 'int'>

In [145]:
string = "abcd"

print(type(string))

<class 'str'>

```python
class className:
    <write some code>

```

In [146]:
class Person:
    pass

print(Person)

<class '__main__.Person'>

In [147]:
p1 = Person()  # object
p2 = Person()  # another object

In [149]:
print(type(p1))

<class '__main__.Person'>

In [150]:
print(type(p2))

<class '__main__.Person'>

In [151]:
p1

In [152]:
p2

In [198]:
class Person:
    """
    This class defines a person
    """
    # class constructor
    def  __init__(self, firstname, lastname, age, country, city):
        self.firstname = firstname
        self.lastname = lastname
        self.age = age
        self.country = country
        self.city = city

    def print_name(self):    # object method
        print(f"{self.firstname} {self.lastname}")

    def greet(self, greetings="Hello!"):
        print(f"{greetings} {self.firstname} {self.lastname}")

In [199]:
p1 = Person('Akash', 'Das', 30, 'India', 'Bhuwansewar')

In [200]:
p1

In [201]:
p2 = Person('Dipika', 'Khanna', 25, 'India', 'Mumbai')

In [202]:
p2

In [203]:
p1.print_name()

Akash Das

In [204]:
p2.print_name()

Dipika Khanna

In [205]:
p1.greet()

Hello! Akash Das

In [206]:
p1.greet("Welcome!")

Welcome! Akash Das

In [229]:
class Person:
    """
    This class defines a person
    """
    # class constructor
    def  __init__(self, first_name, last_name, age, country, city, skillset=[]):
        self.firstname = first_name
        self.lastname = last_name
        self.age = age
        self.country = country
        self.city = city
        self.skills = skillset

    # object methods
    def print_name(self):    
        print(f"{self.firstname} {self.lastname}")

    def greet(self, greetings="Hello!"):
        print(f"{greetings} {self.firstname} {self.lastname}")

    def set_phone_number(self, value):
        self.phone_number = value

    def add_skills(self, skill):
        self.skills.append(skill)

    def show_skills(self):
        if len(self.skills) == 0:
            print(f"The person has no skills")
        else:
            print(f"The person is skilled in: {self.skills}")

In [230]:
p1 = Person('Akash', 'Das', 30, 'India', 'Bhuwansewar', ['python', 'machine learning'])

In [231]:
p1.set_phone_number(8934126787)

In [232]:
p1.phone_number

8934126787

In [233]:
p2 = Person('Dipika', 'Khanna', 25, 'India', 'Mumbai')

In [234]:
p2.phone_number

AttributeError: 'Person' object has no attribute 'phone_number'

In [224]:
p1 = Person('Aaakash', 'Das', 30, 'India', 'Bhuwansewar')

In [225]:
p1.greet()

Hello! Aaakash Das

In [226]:
p1.firstname = "Akash"

In [227]:
p1.greet()

Hello! Akash Das

In [235]:
p1.show_skills()

The person is skilled in: ['python', 'machine learning']

In [236]:
p1.add_skills('Deep learning')

In [237]:
p1.show_skills()

The person is skilled in: ['python', 'machine learning', 'Deep learning']

In [238]:
p2.show_skills()

The person has no skills

In [239]:
p2.add_skills("Marketing")

In [240]:
p2.show_skills()

The person is skilled in: ['Marketing']

### Inheritance

```python

class parentClass:
    <codes>


class childClass(parentClass):
    <codes>
```

In [264]:
class shapes:
    """
    This class is the definition of shapes
    """
    def __init__(self, name, colour):
        self.name = name
        self.colour = colour

    def show_name(self):
        print(f"The name of the shape is: {self.name}")

    def show_colour(self):
        print(f"The colour of the shape is: {self.colour}")

In [266]:
s1 = shapes("my_shape", "orange")

In [267]:
s1.show_name()

The name of the shape is: my_shape

In [306]:
class rectangle(shapes):
    """
    This class inherits the base class shapes
    """
    # constructor
    def __init__(self, length, breadth, n, c):
        self.length = length
        self.breadth = breadth
        self.n = n
        self.c = c
        super().__init__(self.n, self.c)   # optional

    def show_area(self):
        print(f"Area is: {self.length * self.breadth}")

In [307]:
r = rectangle(2, 1, "rectangle", "red")

In [308]:
r.show_name()

The name of the shape is: rectangle

In [309]:
r.show_area()

Area is: 2

In [321]:
class square(rectangle):

    def __init__(self, side, name, colour):
        self.side = side
        self.length = side
        self.breadth = side
        self.name = name
        self.colour = colour
        super().__init__(side, side, name, colour)

    def show_area(self):  # method over-riding
        return (f"The Area is: {self.side**2}")

In [322]:
s = square(5, 's', 'green')

In [323]:
s.show_area()

'The Area is: 25'

In [319]:
s.show_name()

The name of the shape is: s

In [320]:
s.show_colour()

The colour of the shape is: green

In [324]:
r = rectangle(3, 4, 'x', 'y')

In [325]:
r.show_area()

Area is: 12

In [327]:
square.__mro__   # method resolution order

(__main__.square, __main__.rectangle, __main__.shapes, object)

### Multiple inheritance

In [328]:
## base class - 1

class Person:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def give_info(self):
        print(f"The name of the person is: {self.name} and age is {self.age}")

In [330]:
## base class - 2

class Company:

    def __init__(self, company_name, location):
        self.company_name = company_name
        self.location = location

    def give_company_info(self):
        print(f"The name of the company is: {self.company_name} and it is situated in: {self.location}")

In [356]:
## child class

class Employee(Person, Company):

    def __init__(self, name, age, company, location, salary, skills=[]):
        self.name = name
        self.age = age
        self.company = company
        self.location = location
        self.salary = salary
        self.skills = skills
        Person.__init__(self, name, age)
        Company.__init__(self, company, location)

    def show_skills(self):
        print(f"The person has: {', '.join(x for x in self.skills)} skills")

In [357]:
emp = Employee("David", 32, "Amazon", "Seatle", 100000, skills=['python' , 'machine learning'])

In [358]:
emp.show_skills()

The person has: python, machine learning skills

In [359]:
emp.give_company_info()

The name of the company is: Amazon and it is situated in: Seatle

In [360]:
Employee.__mro__

(__main__.Employee, __main__.Person, __main__.Company, object)